# **Ejercicio N°4:**
Con el siguiente fichero datos_seguros.csv contiene información de riesgo de clientes de un banco. Escribir un programa con los siguientes requisitos:
1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, mostrar las 10 primeras filas y las 10 últimas filas, verificar si tiene datos perdidos/nulos.
3. Extraer las 1000 primeras filas y almacenarlas en un contenedor.

In [3]:
import pandas as pd
'''
1 Generar un DataFrame con los datos del fichero.
'''
#leer csv
df = pd.read_csv("Data_Riesgos.csv", index_col=['ID'])
print(df.head())

      edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  riesgo
ID
2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2       1
2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5       1
2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2       1
2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5       1
2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2       1

In [31]:
'''
2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas,
los tipos de datos de las columnas, mostrar las 10 primeras filas y las 10 últimas filas, verificar si tiene datos perdidos/nulos.
'''
#primero se obtiene una informacion global del df para ir comprobando con los pasos que vienen
print('---informacion df--- \n')
print(df.info())
# dimensiones del data frame
print('---------------------------------------------------------------------------------------------------------------------------------')
print('*******1 Dimensiones del data frame******* \n')
print('Las dimensiones del DATAFRAME es: ', df.shape , '->(filas, columnas) \n')

# Número de datos que contiene
print('---------------------------------------------------------------------------------------------------------------------------------')
print('*******2 Número de datos que contiene******* \n')
print('El tamaño del DATAFRAME es: ', df.size, 'datos \n') # devuelve filas * columnas

# Nombres de las columnas y filas
print('---------------------------------------------------------------------------------------------------------------------------------')
print('*******3 Nombres de las columnas y filas******* \n')
columnas_nombres = df.columns.values
filas_nombres = df.index.values
print('Nombres de las columnas: ', columnas_nombres, '\n')
print('Nombres de las filas: ', filas_nombres, '\n') # se muestran pocos ya que hay 4500 filas

#Tipos de datos de las columnas
print('---------------------------------------------------------------------------------------------------------------------------------')
print('*******4 Tipos de datos de las columnas******* \n')
#print(df.columns['edad'].type())
df_types = df.dtypes
print(df_types)


# Mostrar las 10 primeras filas
print('---------------------------------------------------------------------------------------------------------------------------------')
print('*******5 Mostrar las 10 primeras filas******* \n')
print(df[0:10])
# Mostrar las 10 últimas filas
print('---------------------------------------------------------------------------------------------------------------------------------')
print('*******6 Mostrar las 10 últimas filas******* \n')
print(df.iloc[4490:4500]) # filtrado de filas por índices

#Verificar si tiene datos perdidos/nulos
print('---------------------------------------------------------------------------------------------------------------------------------')
print('*******7 Verificar si tiene datos perdidos/nulos******* \n')
print(df.isnull().sum())

---informacion df---

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4500 entries, 2208 to 1499
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   edad           4487 non-null   float64
 1   meses          4494 non-null   float64
 2   max_ant        4496 non-null   float64
 3   ingreso        4495 non-null   float64
 4   score          4495 non-null   float64
 5   tipo_vivienda  4500 non-null   int64
 6   zona           4494 non-null   float64
 7   nivel          4500 non-null   int64
 8   riesgo         4500 non-null   int64
dtypes: float64(6), int64(3)
memory usage: 480.6 KB
None
---------------------------------------------------------------------------------------------------------------------------------
*******1 Dimensiones del data frame*******

Las dimensiones del DATAFRAME es:  (4500, 9) ->(filas, columnas)

---------------------------------------------------------------------------------------------------------------------------------
*******2 Número de datos que contiene*******

El tamaño del DATAFRAME es:  40500 datos

---------------------------------------------------------------------------------------------------------------------------------
*******3 Nombres de las columnas y filas*******

Nombres de las columnas:  ['edad' 'meses' 'max_ant' 'ingreso' 'score' 'tipo_vivienda' 'zona' 'nivel'
 'riesgo']

Nombres de las filas:  [2208 2211 2212 ... 1496 1497 1499]

---------------------------------------------------------------------------------------------------------------------------------
*******4 Tipos de datos de las columnas*******

edad             float64
meses            float64
max_ant          float64
ingreso          float64
score            float64
tipo_vivienda      int64
zona             float64
nivel              int64
riesgo             int64
dtype: object
---------------------------------------------------------------------------------------------------------------------------------
*******5 Mostrar las 10 primeras filas*******

      edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  riesgo
ID
2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2       1
2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5       1
2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2       1
2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5       1
2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2       1
2219  34.0  145.0      6.0   7000.0  196.0              2   5.0      2       1
2226   NaN  114.0      0.0   2171.5  178.0              2   2.0      1       1
2227  27.0  116.0      0.0    800.0  169.0              2   1.0      5       1
2228  26.0  182.0      6.0   3150.0  190.0              4   3.0      5       1
2230  25.0  154.0      1.0   2600.0  189.0              2   1.0      2       1
---------------------------------------------------------------------------------------------------------------------------------
*******6 Mostrar las 10 últimas filas*******

      edad  meses  max_ant   ingreso  score  tipo_vivienda  zona  nivel  \
ID
1486  59.0  288.0      0.0  30000.00  207.0              2   1.0      2
1487  55.0  294.0     57.0   9300.00  238.0              4   1.0      2
1488  53.0  148.0    106.0  30000.00  219.0              4   1.0      2
1491  29.0  198.0     94.0   5250.00  214.0              2   1.0      2
1493  32.0  195.0     41.0   7500.00  219.0              2   1.0      2
1494  54.0  510.0     87.0  24000.00  214.0              2   1.0      2
1495  63.0  305.0     99.0   9880.73  219.0              2   5.0      2
1496  48.0  194.0    124.0  23000.00  224.0              4   1.0      2
1497  39.0  245.0    121.0  12450.00  240.0              4   5.0      2
1499  65.0  674.0     38.0  20000.00  238.0              4   5.0      2

      riesgo
ID
1486       0
1487       0
1488       0
1491       0
1493       0
1494       0
1495       0
1496       0
1497       0
1499       0
---------------------------------------------------------------------------------------------------------------------------------
*******7 Verificar si tiene datos perdidos/nulos*******

edad             13
meses             6
max_ant           4
ingreso           5
score             5
tipo_vivienda     0
zona              6
nivel             0
riesgo            0
dtype: int64

In [35]:
#3. Extraer las 1000 primeras filas y almacenarlas en un contenedor.
contenedor = df.head(1000)
print(contenedor, '\n')
print('-----info -----\n')
print(contenedor.info())

      edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  riesgo
ID
2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2       1
2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5       1
2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2       1
2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5       1
2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2       1
...    ...    ...      ...      ...    ...            ...   ...    ...     ...
4171  30.0  120.0     74.0   2655.0  219.0              4   1.0      2       1
4172  49.0  363.0      6.0   2200.0  197.0              2   2.0      5       1
4176  41.0  229.0     95.0   3509.0  185.0              2   1.0      2       1
4180  40.0  157.0      0.0  28000.0  224.0              4   1.0      2       1
4181  26.0  166.0      0.0   1000.0  197.0              2   5.0      5       1

[1000 rows x 9 columns]

-----info -----

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 2208 to 4181
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   edad           987 non-null    float64
 1   meses          994 non-null    float64
 2   max_ant        996 non-null    float64
 3   ingreso        995 non-null    float64
 4   score          1000 non-null   float64
 5   tipo_vivienda  1000 non-null   int64
 6   zona           1000 non-null   float64
 7   nivel          1000 non-null   int64
 8   riesgo         1000 non-null   int64
dtypes: float64(6), int64(3)
memory usage: 78.1 KB
None