# **Ejercicio 2**

Generar un Notebook Colab con código y resultados, que contiene
información de autos de un periodo de tiempo. Resolver los siguientes:

- Limpieza y tratamiento de las variables (Según corresponda)
- Generar 5 nuevas variables aplicando los siguientes criterios con las
variables numéricas:
  1. Log10(var1/var2)
  2. Sqrt(var1)*exp(var2)/200
  3. Si var 1 > var 2 → 5, caso contrario 3
  4. 1/logn(var1/var2)*100
  5. var2**2/var1

In [1]:
#importar librerías

import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Curso_DataScience_peru/clases/13.2_PROYECTO2_27JULIO2023/autos.csv',delimiter=";")
df.head(45)

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0
5,15.0,8,USA,4341,429.0,10.0,ford galaxie 500,1/01/1970,198.0
6,14.0,8,USA,4354,454.0,9.0,chevrolet impala,1/01/1970,220.0
7,14.0,8,USA,4312,440.0,8.5,plymouth fury iii,1/01/1970,215.0
8,14.0,8,USA,4425,455.0,10.0,pontiac catalina,1/01/1970,225.0
9,15.0,8,USA,3850,390.0,8.5,amc ambassador dpl,1/01/1970,190.0
10,NaN,4,Europe,3090,133.0,17.5,citroen ds-21 pallas,1/01/1970,115.0
11,NaN,8,USA,4142,350.0,11.5,chevrolet chevelle concours (sw),1/01/1970,165.0
12,NaN,8,USA,4034,351.0,11.0,ford torino (sw),1/01/1970,153.0
13,NaN,8,USA,4166,383.0,10.5,plymouth satellite (sw),1/01/1970,175.0
14,NaN,8,USA,3850,360.0,11.0,amc rebel sst (sw),1/01/1970,175.0
15,15.0,8,USA,3563,383.0,10.0,dodge challenger se,1/01/1970,170.0
16,14.0,8,USA,3609,340.0,8.0,plymouth 'cuda 340,1/01/1970,160.0
17,NaN,8,USA,3353,302.0,8.0,ford mustang boss 302,1/01/1970,140.0
18,15.0,8,USA,3761,400.0,9.5,chevrolet monte carlo,1/01/1970,150.0
19,14.0,8,USA,3086,455.0,10.0,buick estate wagon (sw),1/01/1970,225.0
20,24.0,4,Japan,2372,113.0,15.0,toyota corona mark ii,1/01/1970,95.0
21,22.0,6,USA,2833,198.0,15.5,plymouth duster,1/01/1970,95.0
22,18.0,6,USA,2774,199.0,15.5,amc hornet,1/01/1970,97.0
23,21.0,6,USA,2587,200.0,16.0,ford maverick,1/01/1970,85.0
24,27.0,4,Japan,2130,97.0,14.5,datsun pl510,1/01/1970,88.0
25,26.0,4,Europe,1835,97.0,20.5,volkswagen 1131 deluxe sedan,1/01/1970,46.0
26,25.0,4,Europe,2672,110.0,17.5,peugeot 504,1/01/1970,87.0
27,24.0,4,Europe,2430,107.0,14.5,audi 100 ls,1/01/1970,90.0
28,25.0,4,Europe,2375,104.0,17.5,saab 99e,1/01/1970,95.0
29,26.0,4,Europe,2234,121.0,12.5,bmw 2002,1/01/1970,113.0
30,21.0,6,USA,2648,199.0,15.0,amc gremlin,1/01/1970,90.0
31,10.0,8,USA,4615,360.0,14.0,ford f250,1/01/1970,215.0
32,10.0,8,USA,4376,307.0,15.0,chevy c20,1/01/1970,200.0
33,11.0,8,USA,4382,318.0,13.5,dodge d200,1/01/1970,210.0
34,9.0,8,USA,4732,304.0,18.5,hi 1200d,1/01/1970,193.0
35,27.0,4,Japan,2130,97.0,14.5,datsun pl510,1/01/1971,88.0
36,28.0,4,USA,2264,140.0,15.5,chevrolet vega 2300,1/01/1971,90.0
37,25.0,4,Japan,2228,113.0,14.0,toyota corona,1/01/1971,95.0
38,25.0,4,USA,2046,98.0,19.0,ford pinto,1/01/1971,NaN
39,NaN,4,Europe,1978,97.0,20.0,volkswagen super beetle 117,1/01/1971,48.0
40,19.0,6,USA,2634,232.0,13.0,amc gremlin,1/01/1971,100.0
41,16.0,6,USA,3439,225.0,15.5,plymouth satellite custom,1/01/1971,105.0
42,17.0,6,USA,3329,250.0,15.5,chevrolet chevelle malibu,1/01/1971,100.0
43,19.0,6,USA,3302,250.0,15.5,ford torino 500,1/01/1971,88.0
44,18.0,6,USA,3288,232.0,15.5,amc matador,1/01/1971,100.0

In [2]:
print('---Info---')
df.info()

---Info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Millas_Por_Galon   398 non-null    float64
 1   Cilindros          406 non-null    int64
 2   Pais_Origen        406 non-null    object
 3   Peso_En_Libras     406 non-null    int64
 4   Desplazamiento     406 non-null    float64
 5   Aceleracion        406 non-null    float64
 6   Nombre             406 non-null    object
 7   Anyo               406 non-null    object
 8   Caballo_De_Fuerza  400 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 28.7+ KB

In [3]:
#Verificar si tiene datos perdidos/nulos
print('******* Datos perdidos/nulos ******* \n')
print(df.isnull().sum())

******* Datos perdidos/nulos *******

Millas_Por_Galon     8
Cilindros            0
Pais_Origen          0
Peso_En_Libras       0
Desplazamiento       0
Aceleracion          0
Nombre               0
Anyo                 0
Caballo_De_Fuerza    6
dtype: int64

In [4]:
# Los valores NaN se los reemplaza por la media de cada columna
print(df.describe())

       Millas_Por_Galon   Cilindros  Peso_En_Libras  Desplazamiento  \
count        398.000000  406.000000      406.000000      406.000000
mean          23.514573    5.475369     2979.413793      194.779557
std            7.815984    1.712160      847.004328      104.922458
min            9.000000    3.000000     1613.000000       68.000000
25%           17.500000    4.000000     2226.500000      105.000000
50%           23.000000    4.000000     2822.500000      151.000000
75%           29.000000    8.000000     3618.250000      302.000000
max           46.600000    8.000000     5140.000000      455.000000

       Aceleracion  Caballo_De_Fuerza
count   406.000000         400.000000
mean     15.519704         105.082500
std       2.803359          38.768779
min       8.000000          46.000000
25%      13.700000          75.750000
50%      15.500000          95.000000
75%      17.175000         130.000000
max      24.800000         230.000000

In [9]:
mean_Millas_Por_Galon = df['Millas_Por_Galon'].mean()
mean_Millas_Por_Galon = round(mean_Millas_Por_Galon,2)
print(mean_Millas_Por_Galon)

mean_Caballo_De_Fuerza = df['Caballo_De_Fuerza'].mean()
mean_Caballo_De_Fuerza = round(mean_Caballo_De_Fuerza,2)
print(mean_Caballo_De_Fuerza)

23.51
105.08

In [10]:
#Cambiar datos NaN por el promedio o media de la columna

df['Millas_Por_Galon'] = df['Millas_Por_Galon'].replace(np.nan, mean_Millas_Por_Galon )
df['Caballo_De_Fuerza'] = df['Caballo_De_Fuerza'].replace(np.nan, mean_Caballo_De_Fuerza)
df.head(45)

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza
0,18.00,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.00
1,15.00,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.00
2,18.00,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.00
3,16.00,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.00
4,17.00,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.00
5,15.00,8,USA,4341,429.0,10.0,ford galaxie 500,1/01/1970,198.00
6,14.00,8,USA,4354,454.0,9.0,chevrolet impala,1/01/1970,220.00
7,14.00,8,USA,4312,440.0,8.5,plymouth fury iii,1/01/1970,215.00
8,14.00,8,USA,4425,455.0,10.0,pontiac catalina,1/01/1970,225.00
9,15.00,8,USA,3850,390.0,8.5,amc ambassador dpl,1/01/1970,190.00
10,23.51,4,Europe,3090,133.0,17.5,citroen ds-21 pallas,1/01/1970,115.00
11,23.51,8,USA,4142,350.0,11.5,chevrolet chevelle concours (sw),1/01/1970,165.00
12,23.51,8,USA,4034,351.0,11.0,ford torino (sw),1/01/1970,153.00
13,23.51,8,USA,4166,383.0,10.5,plymouth satellite (sw),1/01/1970,175.00
14,23.51,8,USA,3850,360.0,11.0,amc rebel sst (sw),1/01/1970,175.00
15,15.00,8,USA,3563,383.0,10.0,dodge challenger se,1/01/1970,170.00
16,14.00,8,USA,3609,340.0,8.0,plymouth 'cuda 340,1/01/1970,160.00
17,23.51,8,USA,3353,302.0,8.0,ford mustang boss 302,1/01/1970,140.00
18,15.00,8,USA,3761,400.0,9.5,chevrolet monte carlo,1/01/1970,150.00
19,14.00,8,USA,3086,455.0,10.0,buick estate wagon (sw),1/01/1970,225.00
20,24.00,4,Japan,2372,113.0,15.0,toyota corona mark ii,1/01/1970,95.00
21,22.00,6,USA,2833,198.0,15.5,plymouth duster,1/01/1970,95.00
22,18.00,6,USA,2774,199.0,15.5,amc hornet,1/01/1970,97.00
23,21.00,6,USA,2587,200.0,16.0,ford maverick,1/01/1970,85.00
24,27.00,4,Japan,2130,97.0,14.5,datsun pl510,1/01/1970,88.00
25,26.00,4,Europe,1835,97.0,20.5,volkswagen 1131 deluxe sedan,1/01/1970,46.00
26,25.00,4,Europe,2672,110.0,17.5,peugeot 504,1/01/1970,87.00
27,24.00,4,Europe,2430,107.0,14.5,audi 100 ls,1/01/1970,90.00
28,25.00,4,Europe,2375,104.0,17.5,saab 99e,1/01/1970,95.00
29,26.00,4,Europe,2234,121.0,12.5,bmw 2002,1/01/1970,113.00
30,21.00,6,USA,2648,199.0,15.0,amc gremlin,1/01/1970,90.00
31,10.00,8,USA,4615,360.0,14.0,ford f250,1/01/1970,215.00
32,10.00,8,USA,4376,307.0,15.0,chevy c20,1/01/1970,200.00
33,11.00,8,USA,4382,318.0,13.5,dodge d200,1/01/1970,210.00
34,9.00,8,USA,4732,304.0,18.5,hi 1200d,1/01/1970,193.00
35,27.00,4,Japan,2130,97.0,14.5,datsun pl510,1/01/1971,88.00
36,28.00,4,USA,2264,140.0,15.5,chevrolet vega 2300,1/01/1971,90.00
37,25.00,4,Japan,2228,113.0,14.0,toyota corona,1/01/1971,95.00
38,25.00,4,USA,2046,98.0,19.0,ford pinto,1/01/1971,105.08
39,23.51,4,Europe,1978,97.0,20.0,volkswagen super beetle 117,1/01/1971,48.00
40,19.00,6,USA,2634,232.0,13.0,amc gremlin,1/01/1971,100.00
41,16.00,6,USA,3439,225.0,15.5,plymouth satellite custom,1/01/1971,105.00
42,17.00,6,USA,3329,250.0,15.5,chevrolet chevelle malibu,1/01/1971,100.00
43,19.00,6,USA,3302,250.0,15.5,ford torino 500,1/01/1971,88.00
44,18.00,6,USA,3288,232.0,15.5,amc matador,1/01/1971,100.00

In [11]:
# Reemplazar el dato nulo con un cero

data=df.fillna(value=0)
print(data.isnull().sum())
'''
https://interactivechaos.com/es/manual/tutorial-de-pandas/el-metodo-fillna
'''
print('---Estadística descriptiva---')
data.describe()

Millas_Por_Galon     0
Cilindros            0
Pais_Origen          0
Peso_En_Libras       0
Desplazamiento       0
Aceleracion          0
Nombre               0
Anyo                 0
Caballo_De_Fuerza    0
dtype: int64
---Estadística descriptiva---

,Millas_Por_Galon,Cilindros,Peso_En_Libras,Desplazamiento,Aceleracion,Caballo_De_Fuerza
count,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000
mean,23.514483,5.475369,2979.413793,194.779557,15.519704,105.082463
std,7.738404,1.712160,847.004328,104.922458,2.803359,38.480531
min,9.000000,3.000000,1613.000000,68.000000,8.000000,46.000000
25%,17.500000,4.000000,2226.500000,105.000000,13.700000,76.000000
50%,23.000000,4.000000,2822.500000,151.000000,15.500000,95.000000
75%,29.000000,8.000000,3618.250000,302.000000,17.175000,129.000000
max,46.600000,8.000000,5140.000000,455.000000,24.800000,230.000000

In [ ]:
#data.head(45)

- Generar 5 nuevas variables aplicando los siguientes criterios con las
variables numéricas:
  1. Log10(var1/var2)
  2. Sqrt(var1)*exp(var2)/200
  3. Si var 1 > var 2 → 5, caso contrario 3
  4. 1/logn(var1/var2)*100
  5. var2**2/var1

In [12]:
import math
def col_uno(fila):
  # columnas: Desplazamiento y Aceleracion
  log10 = math.log((fila['Desplazamiento'] / fila['Aceleracion']),10)

  return log10

df['Log10(var1/var2)'] = df.apply(col_uno, axis=1)
df.head()

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,Log10(var1/var2)
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,1.407957
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,1.483370
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,1.461034
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,1.403692
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,1.458818

In [13]:
# Sqrt(var1)*exp(var2)/200

def col_dos(fila):
  # columnas: millas y peso
  #log10 = math.log((fila['Desplazamiento'] / fila['Aceleracion']),10)
  raiz2 = np.sqrt(fila['Millas_Por_Galon'])
  exponente = math.pow(fila['Peso_En_Libras'] , 2) # al cuadrado
  division = exponente / 200
  resp_final = raiz2 * division
  return resp_final

df['Sqrt(var1)*exp(var2)/200'] = df.apply(col_dos, axis=1)
df.head()

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,Log10(var1/var2),Sqrt(var1)*exp(var2)/200
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,1.407957,260456.051194
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,1.483370,264103.556242
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,1.461034,250445.116228
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,1.403692,235709.780000
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,1.458818,245234.097016

In [14]:
# Si var 1 > var 2 → 5, caso contrario 3

def reemplazo(fila):
  # 	var2: Millas_Por_Galon y var1: Aceleracion
  if fila['Aceleracion'] > fila['Millas_Por_Galon']:
    return 5
  else:
    return 3

df['5 o 3'] = df.apply(reemplazo, axis=1)
df.head()

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,Log10(var1/var2),Sqrt(var1)*exp(var2)/200,5 o 3
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,1.407957,260456.051194,3
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,1.483370,264103.556242,3
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,1.461034,250445.116228,3
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,1.403692,235709.780000,3
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,1.458818,245234.097016,3

In [15]:
# 1/logn(var1/var2)*100

def col_cuatro(fila):
  # 5 o 3 y Aceleracion
  division1 = ((fila['Aceleracion'])/(fila['5 o 3']))
  Ln = math.log(division1, np.e)
  mult = (Ln * 100)
  division2 = ((1) / (mult))

  return division2

df['1/logn(var1/var2)*100'] = df.apply(col_cuatro, axis=1)
df.head()

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,Log10(var1/var2),Sqrt(var1)*exp(var2)/200,5 o 3,1/logn(var1/var2)*100
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,1.407957,260456.051194,3,0.007213
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,1.483370,264103.556242,3,0.007442
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,1.461034,250445.116228,3,0.007697
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,1.403692,235709.780000,3,0.007213
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,1.458818,245234.097016,3,0.007982

In [16]:
# var2**2/var1
def col_cinco(fila):
  # cilindros y pesos en libras

  expon = math.pow(fila['Cilindros'] ,2)
  div = ((expon) / (fila['Peso_En_Libras']))
  return div

df['var2**2/var1'] = df.apply(col_cinco, axis=1)
df.head()

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza,Log10(var1/var2),Sqrt(var1)*exp(var2)/200,5 o 3,1/logn(var1/var2)*100,var2**2/var1
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0,1.407957,260456.051194,3,0.007213,0.018265
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0,1.483370,264103.556242,3,0.007442,0.017330
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0,1.461034,250445.116228,3,0.007697,0.018626
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0,1.403692,235709.780000,3,0.007213,0.018643
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0,1.458818,245234.097016,3,0.007982,0.018556

In [17]:
# EXPORTAR DataFrame a CSV
df.to_csv('/content/drive/MyDrive/Curso_DataScience_peru/clases/13.2_PROYECTO2_27JULIO2023/autos_RespEjer2.csv', index=False)