# Ejercicio 1

_Fichero_ autos.csv

Generar una función y utilizar esta para recodificar la variable “país de
origen” (1, 2, 3) en el dataframe a través de la función apply.

In [1]:
#importar librerías

import pandas as pd
#import random
#import numpy as np

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Curso_DataScience_peru/clases/13.2_PROYECTO2_27JULIO2023/autos.csv',delimiter=";")
df.head(22)

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza
0,18.0,8,USA,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0
1,15.0,8,USA,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0
2,18.0,8,USA,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0
3,16.0,8,USA,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0
4,17.0,8,USA,3449,302.0,10.5,ford torino,1/01/1970,140.0
5,15.0,8,USA,4341,429.0,10.0,ford galaxie 500,1/01/1970,198.0
6,14.0,8,USA,4354,454.0,9.0,chevrolet impala,1/01/1970,220.0
7,14.0,8,USA,4312,440.0,8.5,plymouth fury iii,1/01/1970,215.0
8,14.0,8,USA,4425,455.0,10.0,pontiac catalina,1/01/1970,225.0
9,15.0,8,USA,3850,390.0,8.5,amc ambassador dpl,1/01/1970,190.0
10,NaN,4,Europe,3090,133.0,17.5,citroen ds-21 pallas,1/01/1970,115.0
11,NaN,8,USA,4142,350.0,11.5,chevrolet chevelle concours (sw),1/01/1970,165.0
12,NaN,8,USA,4034,351.0,11.0,ford torino (sw),1/01/1970,153.0
13,NaN,8,USA,4166,383.0,10.5,plymouth satellite (sw),1/01/1970,175.0
14,NaN,8,USA,3850,360.0,11.0,amc rebel sst (sw),1/01/1970,175.0
15,15.0,8,USA,3563,383.0,10.0,dodge challenger se,1/01/1970,170.0
16,14.0,8,USA,3609,340.0,8.0,plymouth 'cuda 340,1/01/1970,160.0
17,NaN,8,USA,3353,302.0,8.0,ford mustang boss 302,1/01/1970,140.0
18,15.0,8,USA,3761,400.0,9.5,chevrolet monte carlo,1/01/1970,150.0
19,14.0,8,USA,3086,455.0,10.0,buick estate wagon (sw),1/01/1970,225.0
20,24.0,4,Japan,2372,113.0,15.0,toyota corona mark ii,1/01/1970,95.0
21,22.0,6,USA,2833,198.0,15.5,plymouth duster,1/01/1970,95.0

In [3]:
print('---Info---')
df.info()

---Info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Millas_Por_Galon   398 non-null    float64
 1   Cilindros          406 non-null    int64
 2   Pais_Origen        406 non-null    object
 3   Peso_En_Libras     406 non-null    int64
 4   Desplazamiento     406 non-null    float64
 5   Aceleracion        406 non-null    float64
 6   Nombre             406 non-null    object
 7   Anyo               406 non-null    object
 8   Caballo_De_Fuerza  400 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 28.7+ KB

In [4]:
# primero se crea la función

def recodificar(Pais_origen):
  if Pais_origen == 'USA':
    return 1
  elif Pais_origen == 'Europe':
    return 2
  else:
    return 3

In [5]:
# se aplica la función

df['Pais_Origen']  = df['Pais_Origen'].apply(recodificar)
df.head(22)

,Millas_Por_Galon,Cilindros,Pais_Origen,Peso_En_Libras,Desplazamiento,Aceleracion,Nombre,Anyo,Caballo_De_Fuerza
0,18.0,8,1,3504,307.0,12.0,chevrolet chevelle malibu,1/01/1970,130.0
1,15.0,8,1,3693,350.0,11.5,buick skylark 320,1/01/1970,165.0
2,18.0,8,1,3436,318.0,11.0,plymouth satellite,1/01/1970,150.0
3,16.0,8,1,3433,304.0,12.0,amc rebel sst,1/01/1970,150.0
4,17.0,8,1,3449,302.0,10.5,ford torino,1/01/1970,140.0
5,15.0,8,1,4341,429.0,10.0,ford galaxie 500,1/01/1970,198.0
6,14.0,8,1,4354,454.0,9.0,chevrolet impala,1/01/1970,220.0
7,14.0,8,1,4312,440.0,8.5,plymouth fury iii,1/01/1970,215.0
8,14.0,8,1,4425,455.0,10.0,pontiac catalina,1/01/1970,225.0
9,15.0,8,1,3850,390.0,8.5,amc ambassador dpl,1/01/1970,190.0
10,NaN,4,2,3090,133.0,17.5,citroen ds-21 pallas,1/01/1970,115.0
11,NaN,8,1,4142,350.0,11.5,chevrolet chevelle concours (sw),1/01/1970,165.0
12,NaN,8,1,4034,351.0,11.0,ford torino (sw),1/01/1970,153.0
13,NaN,8,1,4166,383.0,10.5,plymouth satellite (sw),1/01/1970,175.0
14,NaN,8,1,3850,360.0,11.0,amc rebel sst (sw),1/01/1970,175.0
15,15.0,8,1,3563,383.0,10.0,dodge challenger se,1/01/1970,170.0
16,14.0,8,1,3609,340.0,8.0,plymouth 'cuda 340,1/01/1970,160.0
17,NaN,8,1,3353,302.0,8.0,ford mustang boss 302,1/01/1970,140.0
18,15.0,8,1,3761,400.0,9.5,chevrolet monte carlo,1/01/1970,150.0
19,14.0,8,1,3086,455.0,10.0,buick estate wagon (sw),1/01/1970,225.0
20,24.0,4,3,2372,113.0,15.0,toyota corona mark ii,1/01/1970,95.0
21,22.0,6,1,2833,198.0,15.5,plymouth duster,1/01/1970,95.0